html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}
.man {
    display : none;
}
.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}

.column {
    padding: 15px;
}

.col_tit, .col_man {
    font-size: 20px;
    color: #2f7fa6;
    padding-bottom: 5px;
    margin-left: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-heading {
    text-align: center;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #878787;
    cursor: pointer;
    margin-right: 15px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.button {
    border: none;
    outline: none;
    font-weight: bold;
    color: #878787;
    font-size: 16px;
    border-bottom: 1px solid #dbdbdb;
}


.item {
    padding: 10px;
    display: none;
}
.noLogin.active .item{
    display : none;
}
.active .item {
    display : block;
}
.active + .item {
    display: block;
}
.manMenu {
    display : none;
}
.isMan {
    display : block;
}
#sideNav, #sideNav + span {
    display: none;
}
@media (max-width: 1024px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .item-heading {
        border-bottom: 1px solid #dbdbdb;
    }
    .noLogin.active + .item{
        display : none;
    }
    .active + .item {
        display: block;
    }

    .button {
        border: none;
        outline: none;
        font-weight: bold;
        color: #878787;
        font-size: 16px;
    }

    #cont_bottom {
        display: none;
    }
}

iframe {
    width: 100%;
    border: 0;
    height: 50vh;
}

table {
    width: 100%;
    text-align: center;
    border-top: 3px solid lightblue;
    border-collapse: collapse;
    font-size: 16px;
    color: #878787;
}

th, td {
    border-bottom: 3px solid lightblue;
    padding: 10px;
}

.items {
    flex-basis: 25%;
}